html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    /* width: 100%; */
}

main {
    margin: 1rem;
    background: #F8FDFD;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > article:nth-child(1) {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 3rem;
    top: 35%;
}

main > article:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5.81rem;
}

main > article:nth-child(2) > section:nth-child(1)  h2 {
    color: var(--foundation-blue-blue-400, #334F78);
    margin: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.5rem */
}

main > article:nth-child(2) > section:nth-child(1)  h3 {
    color: var(--foundation-blue-blue-400, #334F78);
    margin: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
}
main > article:nth-child(2) > section:nth-child(1)  h5 {
    color: var(--foundation-blue-blue-400, #334F78);
    margin: 0;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.05rem */
}

main > article:nth-child(2) > section:nth-child(1) > div:nth-child(3){
    color: var(--foundation-blue-blue-400, #334F78);
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.2rem */
}

main > article:nth-child(2) > section:nth-child(1) > div:nth-child(3) button{
    color: var(--foundation-blue-blue-400, #334F78);
    display: flex;
    padding: 0.8rem 3.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    border-radius: 0.375rem;
    border: 3px solid var(--foundation-blue-blue-400, #334F78);
    background-color: transparent;
}

main > article:nth-child(2) > section:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}

main > article:nth-child(2) h6 {
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
}

main > article:nth-child(2) > section:nth-child(2) p {
    color: var(--foundation-blue-blue-400, #334F78);
    margin: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
}

main > article:nth-child(2) > section:nth-child(3){
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3.1875rem;
}

main > article:nth-child(2) > section:nth-child(3) h6{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
}

main > article:nth-child(2) > section:nth-child(3) h5{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

main > article:nth-child(2) > section:nth-child(3) p{
    color: var(--foundation-blue-blue-400, #334F78);
    margin: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
}

main > article:nth-child(2) > section:nth-child(3) h4{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 0.825rem */
    border-radius: 0.1875rem;
    border: 1px solid var(--foundation-blue-blue-400, #334F78);
    background: var(--foundation-green-green-200, #C0EEEE);
    display: flex;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

main > article:nth-child(2) > section:nth-child(3) > div > div{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.25rem;
}

main > article:nth-child(2) > section:nth-child(4){
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3.1875rem;
}


main > article:nth-child(2) > section:nth-child(4) h2{
    color: var(--foundation-blue-blue-200, #67768b);
    margin: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.35rem */
}

main > article:nth-child(2) > section:nth-child(4) h5{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

main > article:nth-child(2) > section:nth-child(4) p{
    color: var(--foundation-blue-blue-400, #334F78);
    margin: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
}

main > article:nth-child(2) > section:nth-child(4) h4{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 0.825rem */
    border-radius: 0.1875rem;
    border: 1px solid var(--foundation-blue-blue-400, #334F78);
    background: var(--foundation-green-green-200, #C0EEEE);
    display: flex;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

main > article:nth-child(2) > section:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.4rem;
}

main > article:nth-child(2) > section:nth-child(5) > div >div{
    display: flex;
    align-items: start;
    justify-content: center;
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.625rem;
    border: 1px solid var(--foundation-blue-blue-400, #334F78);
    background: var(--foundation-green-green-200, #C0EEEE);
}

main > article:nth-child(2) > section:nth-child(5) h2{
    margin: 0;
    color: var(--foundation-blue-blue-400, #334F78);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.35rem */
}

main > article:nth-child(2) > section:nth-child(5) h3{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}

main > article:nth-child(2) > section:nth-child(5) p{
    margin: 0;
    color: var(--foundation-blue-blue-400, #334F78);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.05rem */
}

main > article:nth-child(2) > section:nth-child(5) h4{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
}

main > article:nth-child(2) > section:nth-child(6) h6{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
}

main > article:nth-child(2) > section:nth-child(6) p{
    margin: 0;
    color: var(--foundation-blue-blue-400, #334F78);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.05rem */
    
}

main > article:nth-child(2) > section:nth-child(6) h5{
    color: var(--foundation-blue-blue-300, #546C8E);
    margin: 0;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
}

main > article:nth-child(2) > section:nth-child(6) > div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.56rem;
}

main > article:nth-child(2) > section:nth-child(6) > div:nth-child(2) button{
    color: var(--foundation-blue-blue-400, #334F78);
    display: flex;
    padding: 0.8rem 3.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    border-radius: 0.375rem;
    border: 3px solid var(--foundation-blue-blue-400, #334F78);
    background-color: transparent;
}

main > article:nth-child(2) > section:nth-child(6) > div:nth-child(2) > div:nth-child(3) h3{
    color: var(--foundation-blue-blue-400, #334F78);
    display: flex;
    padding: 0.9375rem 12.5rem 0.9375rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: -0.375rem;
    border-radius: 0.375rem;
    border: 0px solid var(--foundation-blue-blue-100, #B0BBCB);
    background: var(--foundation-blue-blue-50, #E6E9EE);
}

main > article:nth-child(2) > section:nth-child(6) > div:nth-child(2) > div:nth-child(4) h3{
    color: var(--foundation-blue-blue-400, #334F78);
    display: flex;
    padding: 1.8125rem 33.125rem 8.5625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: -0.375rem;
    border-radius: 0.375rem;
    border: 0px solid var(--foundation-blue-blue-100, #B0BBCB);
    background: var(--foundation-blue-blue-50, #E6E9EE);
}

main > article:nth-child(2) > section:nth-child(6) > div:nth-child(2) > div:nth-child(5) button{
    color: var(--foundation-blue-blue-400, #334F78);
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.05rem */
    display: flex;
    padding: 0.9375rem 15.4rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    border: 3px solid var(--foundation-blue-blue-400, #334F78);
    background-color: transparent;
}

main > article:nth-child(2) > section:nth-child(6){
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1.44rem;
}

main > article:nth-child(2) > p{
    color: var(--foundation-blue-blue-600, #00204E);
    margin: 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.35rem */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 481px){
    main{
        margin: 0rem;
    }
    main > article:nth-child(1) {
        position: fixed !important;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
        left: 6.20rem;
        top: 3%;
    }
    
    main > article:nth-child(2) {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        padding: 1rem;
    }

    main > article:nth-child(2) > section:nth-child(1) > div:nth-child(2){
        gap: 1.25rem !important;
    }
    
    main > article:nth-child(2) > section:nth-child(1) > div:nth-child(3){
        display: flex;
        flex-direction: column;
        gap: 0.25rem !important;
    }

    main > article:nth-child(2) > section:nth-child(1) > div:nth-child(3) button:nth-child(1){
        padding: 0.8rem 2.369rem !important;
    }

    main > article:nth-child(2) > section:nth-child(1) > div:nth-child(3) h4{
        margin: 0;
    }

    main > article:nth-child(2) > section:nth-child(2){
        flex-direction: column;
        margin: 0;
    }

    main > article:nth-child(2) > section:nth-child(2)  p{
        max-width: 300px;
        white-space: wrap; 
    }

    main > article:nth-child(2) > section:nth-child(3){
        flex-direction: column;
    }

    main > article:nth-child(2) > section:nth-child(3) > div > div{
        flex-direction: column;
        gap: 1.25rem;
    }
    
    main > article:nth-child(2) > section:nth-child(3) > div > div p{
        max-width: 300px;
        white-space: wrap; 
    }
    
    main > article:nth-child(2) > section:nth-child(3) > div > div  h4:nth-child(4){
        display: none;
    }

    main > article:nth-child(2) > section:nth-child(4){
        flex-direction: column;
    }

    main > article:nth-child(2) > section:nth-child(4) > div > div{
        flex-direction: column;
        gap: 1.25rem;
    }

    main > article:nth-child(2) > section:nth-child(4) > div > div p{
        max-width: 300px;
        white-space: wrap; 
    }

    main > article:nth-child(2) > section:nth-child(4) > div > div  h4:nth-child(4){
        display: none;
    }

    main > article:nth-child(2) > section:nth-child(5) > div{
        flex-direction: column;
    }

    main > article:nth-child(2) > section:nth-child(5) > div > div{
        flex-direction: column;
        gap: 1.25rem;
    }

    main > article:nth-child(2) > section:nth-child(6) > div:nth-child(2) > div{
        flex-direction: column !important;
        align-items: start !important;
        justify-content: start !important;
    }
    
    main > article:nth-child(2) > section:nth-child(6) > div button:nth-child(1){
        padding: 0.8rem 2.7rem !important;
    }
    main > article:nth-child(2) > section:nth-child(6) > div button:nth-child(2){
        padding: 0.8rem 3.369rem !important;
    }
    main > article:nth-child(2) > section:nth-child(6) > div button:nth-child(3){
        padding: 0.8rem 2.369rem !important;
    }

    main > article:nth-child(2) > section:nth-child(6) > div h4{
        margin: 1.5rem;
    }

    main > article:nth-child(2) > section:nth-child(6) > div img{
        display: none;
    }

    main > article:nth-child(2) > section:nth-child(6) > div:nth-child(2) > div:nth-child(4) h3{
        padding: 1.8125rem 10.6rem 8.5625rem 1.25rem !important;
    }

    main > article:nth-child(2) > section:nth-child(6) > div:nth-child(2) > div:nth-child(3) {
        gap: 0rem !important;
    }
}